.hero {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero button {
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #222;
  color: white;
  transition: 0.3s;
}

.hero button:hover {
  background: #444;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
}